<a href="https://colab.research.google.com/github/somustafa/asoiu-skillcamp/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url) # dataframe imizi teyin eledik

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
#data cleaning
print(df.isnull().sum()) # null deyerler var ya yox ona baxiriq

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
#bize lazim olmayacaq sutunlari silirik cunki prognoz qabiliyyeti yoxdur
df = df.drop(columns=['PassengerId','Name','Ticket','Cabin'])

In [ ]:
#Age - columunda null deyer olan yerleri median ile doldururuq
df['Age'] = df['Age'].fillna(df['Age'].median())
#Embarked - (gemiden atilanlari) nulllari umumi en cox olan ile doldururuq
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])
#String olan sutunlari numericala ceviririk 1/0
df = pd.get_dummies(df, drop_first=True)
df.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S
0,0,3,22.0,1,0,7.2500,True,False,True
1,1,1,38.0,1,0,71.2833,False,False,False
2,1,3,26.0,0,0,7.9250,False,False,True
3,1,1,35.0,1,0,53.1000,False,False,True
4,0,3,35.0,0,0,8.0500,True,False,True

In [ ]:
#Temizlenmis data uzerinde Train/Test edirik
from sklearn.model_selection import train_test_split

X = df.drop(columns=['Survived']) # surviveddan basqa butun sutunlara baxir
y = df['Survived'] #target sutundur model bu sutundan oyrenir

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
#logistic regression
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

#prediction
y_pred = model.predict(X_test)

     Actual  Predicted
709       1          0
439       0          0
840       0          0
720       1          1
39        1          1

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Precision:", precision_score(y_test, y_pred))
print("Recall:", recall_score(y_test, y_pred))
print("F1 Score:", f1_score(y_test, y_pred))

Confusion Matrix:
 [[90 15]
 [19 55]]
Accuracy: 0.8100558659217877
Precision: 0.7857142857142857
Recall: 0.7432432432432432
F1 Score: 0.7638888888888888